/*  =========================================================================
    foundation.utilities.layout.spacing
    Margin and padding helper classes.
    Use these to tweak layout on a micro level.
    ========================================================================= */

/*  Margins
    ========================================================================= */

.u-mb {
  @include blocss-rem(margin-bottom, $blocss-space);
}

.u-mb--large {
  @include blocss-rem(margin-bottom, $blocss-space-large);
}

.u-mb--small {
  @include blocss-rem(margin-bottom, $blocss-space-small);
}

.u-mb--tiny {
  @include blocss-rem(margin-bottom, $blocss-space-tiny);
}

.u-mb--three-quarter {
  @include blocss-rem(margin-bottom, $blocss-space-tiny * 3);
}

.u-mb-flatten {
  margin-bottom: 0;
}

.u-mt {
  @include blocss-rem(margin-top, $blocss-space);
}

.u-mt--min-small {
  @include blocss-rem(margin-top, -$blocss-space-small);
}

/*  Paddings
    ========================================================================= */

.u-pt {
  @include blocss-rem(padding-top, $blocss-space);
}

.u-pt--small {
  @include blocss-rem(padding-top, $blocss-space-small);
}

.u-pb {
  @include blocss-rem(padding-bottom, $blocss-space);
}

.u-pb--small\@palm {
  @include blocss-rem(padding-bottom, $blocss-space-small);
  display: block;
  @include blocss-media-query(lap) {
    padding-bottom: 0;
  }
}
