/*  =========================================================================
    Foundation.Typography.Text
    ========================================================================= */

.u-nowrap {
  white-space: nowrap;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-light {
  font-weight: 300;
}

.u-text-bold {
  font-weight: 700;
}
