/*  =========================================================================
    Foundation.Atoms.Layout.Retain
    ========================================================================= */

/*  Imports
    ========================================================================= */

@import "sass/engine";



/*  Module
    ========================================================================= */

.o-retain {
  max-width: 1920px;
  @include blocss-rem(padding-left, $blocss-space-small);
  @include blocss-rem(padding-right, $blocss-space-small);
  margin-left: auto;
  margin-right: auto;
}

.o-retain--full {
  padding-left: 0;
  padding-right: 0;
}

.o-retain--medium {
  @include blocss-rem(max-width, 880px + $blocss-space-large);
}



/*  Responsive
    ========================================================================= */

@include blocss-media-query(lap) {
  .o-retain {
    @include blocss-rem(padding-left, $blocss-space-large);
    @include blocss-rem(padding-right, $blocss-space-large);
  }

  .o-retain--full {
    padding-left: 0;
    padding-right: 0;
  }

  .o-retain--wide {
    @include blocss-rem(padding-left, $blocss-space-small);
    @include blocss-rem(padding-right, $blocss-space-small);
  }

  .o-retain--default#{$blocss-responsive-modifier}lap {
    @include blocss-rem(padding-left, $blocss-space);
    @include blocss-rem(padding-right, $blocss-space);
  }
}

@include blocss-media-query(desk) {
  .o-retain {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  .o-retain--full {
    padding-left: 0;
    padding-right: 0;
  }

  .o-retain--narrow {
    padding-left: 25%;
    padding-right: 25%;
  }

  .o-retain--wide {
    padding-left: calc(12.5% - #{blocss-value-to-rem($blocss-space-small * 3)});
    padding-right: calc(12.5% - #{blocss-value-to-rem($blocss-space-small * 3)});
  }

  .o-retain--breakout-space {
    padding-left: calc(12.5% - #{blocss-value-to-rem($blocss-space)});
    padding-right: calc(12.5% - #{blocss-value-to-rem($blocss-space)});
  }

  .o-retain--header {
    @include blocss-rem(padding-left, $blocss-space);
    @include blocss-rem(padding-right, $blocss-space);
  }

  .o-retain--no-padding#{$blocss-responsive-modifier}desk {
    padding-left: 0;
    padding-right: 0;
  }

  .o-retain--default#{$blocss-responsive-modifier}lap {
    @include blocss-rem(padding-left, $blocss-space-large);
    @include blocss-rem(padding-right, $blocss-space-large);
  }
}
